.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.headline-event{
  /*text-decoration: underline;*/
}

footer{
  /*border-top: solid 1px #ccc;*/
  margin-top: 20px;
}

.marketing{
  border-bottom: solid 1px #ccc;
  padding-top: 60px;
}

.event{
  transition: box-shadow 300ms ease;
}

.event:hover{
  box-shadow: 0 0 15px #ccc;
}

.to_top{
  font-size: 30pt; 
  position: fixed; 
  bottom: 10px; 
  right: 50px;
}

.divisi{
  margin-bottom: 50px;
}

.anggota{
  margin-top: 15px;
}

a .link_ke_profil{
  color: #ddd;
}

a .link_ke_profil:hover{
  color: #327ba8;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .to_top{
    display: none;
  }
}